@font-face {
    font-family: Poppins-Regular;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

.footer-page {
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    padding: 8px;
    background-color: var(--color-white);
    border-top: 1px solid gray;
}

.footer-page-rights {
    text-align: center;
    color: var(--text-color);
}

/* Desktop */
@media screen and (min-width: 992px){
    .footer-page {
        font-size: 1rem;
    }
}



/* .footer-page{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;

}

.footer-page-rigths{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
} */